.*
openresty.a/logs/
openresty.b/logs/
redis/data/
redis_slave/data/
html/seckill/
ngx_lua_waf/
rabbitmq/data*
mysql/data/*
mysql_slave/data/*
html/hyperf/
html/laravel/
html/phpMyAdmin/
golang/
cluster_redis/6391/data/*
cluster_redis/6392/data/*
cluster_redis/6393/data/*
cluster_redis/6394/data/*
cluster_redis/6395/data/*
cluster_redis/6396/data/*
